.dice {
    position: relative;
    border: 5px solid blue;
    height: 60px;
    width: 60px;
    font-size: 20px;
    text-align: center;
    margin: 5px;
    vertical-align: middle;

}

#generateDie {
    position: relative;
    display: block;
    margin-bottom: 10px;

}